<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ModemController.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <ModemController.My.MySettings>
            <setting name="Speed" serializeAs="String">
                <value>C_Speed</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value />
            </setting>
            <setting name="Bits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Stoppbits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="HandShake" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="LocationXY" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ATB_LocationXY" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TxtAnwFont" serializeAs="String">
                <value>Courier New, 8pt</value>
            </setting>
            <setting name="NodeState" serializeAs="String">
                <value>1100</value>
            </setting>
        </ModemController.My.MySettings>
    </userSettings>
</configuration>
